// Header
.header {
  height: 122px;
  background-color: get-color("white");
  font-size: 0;
}

.logo {
  display: block;
  width: 160px;
  position: absolute;
  top: 0;
  left: 30px;
  z-index: 3;
}

@media (min-width: 1440px) {
  .header {
    height: auto;
    background: none;
    position: relative;
    &:before {
      content: "";
      width: 100%;
      height: 50px;
      background-color: get-color("darkGray");
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .logo {
    width: 206px;
    float: left;
    position: relative;
    left: auto;
  }
}
// Header (END)
