// Slider
.slider {
  height: 1212px;
  position: relative;
  &__inner {
    height: 100%;
  }
  &__slide {
    height: 100%;
  }
  &__title {
    margin-top: -70px;
    color: get-color("white");
    font-family: unquote(get-font("titillium"));
    font-size: to-rem(70);
    text-transform: uppercase;
    letter-spacing: 0.5px;
    text-shadow: 1px 2px 0px rgba(0,0,0,0.2);
    position: absolute;
    top: 50%;
    // left: 0;
  }
  &__thumbs {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
// Slider (END)
